@import "tailwindcss";
@import "preline/variants.css";

/* Preline UI */
@custom-variant dark (&:where(.dark, .dark *));

/* Plugins */
/* @plugin "@tailwindcss/forms"; */
@plugin "@tailwindcss/typography";
@source "./node_modules/preline/dist/*.js";


  /**/

  .conversation-item-button.active{
    @apply bg-gray-100 dark:bg-gray-700
  }

  .inner-content a>img{
    /* font-family: Inter; */
    /* font-size: 1em; */
    /* @apply border rounded-lg w-full cover */
  }
  .codemirror-wrapper{
    font-size: 1.095em;
    line-height: 1.2em;
  }
  .inner-content table{
    @apply min-w-full divide-y divide-gray-200 dark:divide-neutral-700 p-4 border border-gray-200 dark:border-neutral-700 rounded-lg
  }
  .inner-content table > thead > tr > th{
    @apply px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500
  }
  .inner-content table > tbody > tr > td{
    @apply px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-400 text-left
  }
  .inner-content table > tbody {
    @apply divide-y divide-gray-200 dark:divide-neutral-700
  }

.provider-option{
  @apply min-w-[450px]
}
.model-container-parent{
  @apply flex  gap-2 w-[500px]
}
.conversation-list .conversation-item .inner-content  *:first{
  @apply !p-0 !m-0 !border-0 !bg-transparent
}
.conversation-list .conversation-item .inner-content{
@apply  !overflow-x-hidden !max-w-none prose dark:prose-invert prose-headings:font-semibold prose-headings:text-gray-800 dark:prose-headings:text-neutral-400 prose-p:text-neutral-400 dark:prose-p:text-neutral-300 prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-a:no-underline hover:prose-a:underline
}
.chat-toolbar-left{
  @apply border-r border-gray-200 dark:border-neutral-700
}
.chat-toolbar-left button.active{
  @apply !border
}

#hs-editor-tiptap-blockquote-alt .tiptap{
  /* font-family: Inter; */
  @apply !py-4;
  font-size: 16px !important; 
  line-height: .5m;
}

